### Import dependencies

In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt
#!pip install squarify
#plt.style.use('fivethirtyeight')
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.tools as tls
import pygsheets
%matplotlib inline

### Authorize connection between Jupyter notebook (python working environment; like R studio) and google sheets so we can run analyses as the sheet is updated

In [80]:
gc = pygsheets.authorize() 
# Use customized credentials 
gc = pygsheets.authorize(client_secret='client_secret.json')
# For the first time, it will may produce as a link to authorize

### Open spreadsheet by name

In [81]:
sh = gc.open('PythonCurrentFlow_Aging')

### Open "Data" worksheet (can also use sh.sheet1)

In [82]:
data = sh[0]

### Get worksheet values as pandas dataframe

In [83]:
aging_data = pd.DataFrame(data.get_all_records())

In [84]:
aging_data

,Genus,Species,Sample ID,Species Code,Site,River,Basin,Lat,Long,Date Collected,...,Status Upon Collection,Final Age,Age dif,Z age,L age,B age,K&M Age,K age,M age,Notes
0,Amblema,plicata,1,D,"Gonzales, TX",Guadalupe,Guadalupe,29.493646°,-97.431293°,9/24/19,...,Alive,15,,,,,15,15,14,
1,Amblema,plicata,2,D,"Gonzales, TX",Guadalupe,Guadalupe,29.493646°,-97.431293°,9/24/19,...,Alive,16,,,,,16,16,12,
2,Amblema,plicata,3,D,"Gonzales, TX",Guadalupe,Guadalupe,29.493646°,-97.431293°,9/24/19,...,Alive,17,,,,,17,17,9,
3,Amblema,plicata,4,D,"Gonzales, TX",Guadalupe,Guadalupe,29.493646°,-97.431293°,9/24/19,...,Alive,15,,,,,15,13,12,
4,Amblema,plicata,5,D,"Gonzales, TX",Guadalupe,Guadalupe,29.493646°,-97.431293°,9/24/19,...,Alive,14,,,,,14,14,12,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,Lampsilis,teres,471,E,"Bellville, TX",Brazos,Brazos,29.939875°,-96.129332°,8/28/20,...,Alive,0.5,0,0.5,0.5,1,,,,
470,Lampsilis,teres,472,E,"Bellville, TX",Brazos,Brazos,29.939875°,-96.129332°,8/28/20,...,Alive,0.5,0,0.5,0.5,1,,,,
471,Lampsilis,teres,473,E,"Bellville, TX",Brazos,Brazos,29.939875°,-96.129332°,8/28/20,...,Alive,0.5,0,0.5,0.5,1,,,,
472,Lampsilis,teres,474,E,"Bellville, TX",Brazos,Brazos,29.939875°,-96.129332°,8/28/20,...,Alive,0.5,0,0.5,0.5,1,,,,B: how could you tell difference b/w 0.5 & 1?
473,Lampsilis,teres,475,E,"Bay City, TX",Colorado,Colorado,29.126034°,-96.044864°,5/5/20,...,Alive,4,4,2,6,2,,,,

#### Rename columns

In [85]:
df_rename=aging_data.rename(columns={"Sample ID": "id", "Genus":"genus", "Species":"species", "Species Code": "code", "Site":"site", "River":"river", "Basin":"basin", "Lat":"lat", "Long":"long", "Date Collected":"date", "Status Upon Collection":"status", "Ager":"ager", "Age":"age"})
df_rename

,genus,species,id,code,site,river,basin,lat,long,date,...,status,Final Age,Age dif,Z age,L age,B age,K&M Age,K age,M age,Notes
0,Amblema,plicata,1,D,"Gonzales, TX",Guadalupe,Guadalupe,29.493646°,-97.431293°,9/24/19,...,Alive,15,,,,,15,15,14,
1,Amblema,plicata,2,D,"Gonzales, TX",Guadalupe,Guadalupe,29.493646°,-97.431293°,9/24/19,...,Alive,16,,,,,16,16,12,
2,Amblema,plicata,3,D,"Gonzales, TX",Guadalupe,Guadalupe,29.493646°,-97.431293°,9/24/19,...,Alive,17,,,,,17,17,9,
3,Amblema,plicata,4,D,"Gonzales, TX",Guadalupe,Guadalupe,29.493646°,-97.431293°,9/24/19,...,Alive,15,,,,,15,13,12,
4,Amblema,plicata,5,D,"Gonzales, TX",Guadalupe,Guadalupe,29.493646°,-97.431293°,9/24/19,...,Alive,14,,,,,14,14,12,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,Lampsilis,teres,471,E,"Bellville, TX",Brazos,Brazos,29.939875°,-96.129332°,8/28/20,...,Alive,0.5,0,0.5,0.5,1,,,,
470,Lampsilis,teres,472,E,"Bellville, TX",Brazos,Brazos,29.939875°,-96.129332°,8/28/20,...,Alive,0.5,0,0.5,0.5,1,,,,
471,Lampsilis,teres,473,E,"Bellville, TX",Brazos,Brazos,29.939875°,-96.129332°,8/28/20,...,Alive,0.5,0,0.5,0.5,1,,,,
472,Lampsilis,teres,474,E,"Bellville, TX",Brazos,Brazos,29.939875°,-96.129332°,8/28/20,...,Alive,0.5,0,0.5,0.5,1,,,,B: how could you tell difference b/w 0.5 & 1?
473,Lampsilis,teres,475,E,"Bay City, TX",Colorado,Colorado,29.126034°,-96.044864°,5/5/20,...,Alive,4,4,2,6,2,,,,

### What do age measurements for L. teres look like across Z, L & B?
#### Compare value counts

In [86]:
pd.crosstab(index=aging_data['Species']=='teres', columns=aging_data['Z age'])

Z age    0.5  1.0  2.0  3.0  4.0  5.0  6.0  7.0  8.0  9.0  12  13
Species
False      0    1    1    0    0    0    0    0    1    0   1   1  320
True       7    6   12   33   22   18   14   10    7    2   0   0   16

##### L. teres
#### Ager Z: aged most mussels at 3 yrs old

In [87]:
pd.crosstab(index=aging_data['Species']=='teres', columns=aging_data['L age'])

L age    0.5  1  2.0  3.0  4.0  5.0  6.0  7.0  8.0  9.0  10.0  11.0  13
Species
False      0  1    1    0    0    0    0    0    0    1     1     0   1  320
True       7  0    6   19   26   34   17    8   10    1     2     1   0   18

##### L. teres
#### Ager L: aged most mussels at 5 yrs old

In [88]:
pd.crosstab(index=aging_data['Species']=='teres', columns=aging_data['B age'])

B age,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,,,
Species,,,,,,,,,,,,
False,0,0,0,0,0,0,0,0,0,325,0,0
True,9,12,25,27,21,12,10,5,2,24,1,1

##### L. teres
#### Ager B: aged most mussels at 4 yrs old

In [89]:
pd.crosstab(index=aging_data['Species']=='teres', columns=aging_data['Site'])

Site,"Altair, TX","Bay City, TX","Bellville, TX","Gonzales, TX","Navasota, TX","Simonton, TX","Victoria, TX"
Species,,,,,,,
False,100,0,5,101,19,0,100
True,13,67,19,0,0,50,0

### Take a look at data (.head shows first 5 rows)

In [90]:
df_rename.head()

,genus,species,id,code,site,river,basin,lat,long,date,...,status,Final Age,Age dif,Z age,L age,B age,K&M Age,K age,M age,Notes
0,Amblema,plicata,1,D,"Gonzales, TX",Guadalupe,Guadalupe,29.493646°,-97.431293°,9/24/19,...,Alive,15,,,,,15,15,14,
1,Amblema,plicata,2,D,"Gonzales, TX",Guadalupe,Guadalupe,29.493646°,-97.431293°,9/24/19,...,Alive,16,,,,,16,16,12,
2,Amblema,plicata,3,D,"Gonzales, TX",Guadalupe,Guadalupe,29.493646°,-97.431293°,9/24/19,...,Alive,17,,,,,17,17,9,
3,Amblema,plicata,4,D,"Gonzales, TX",Guadalupe,Guadalupe,29.493646°,-97.431293°,9/24/19,...,Alive,15,,,,,15,13,12,
4,Amblema,plicata,5,D,"Gonzales, TX",Guadalupe,Guadalupe,29.493646°,-97.431293°,9/24/19,...,Alive,14,,,,,14,14,12,

## Clean data
### Drop some columns

In [91]:
drop_df=df_rename.drop(columns=['Final Age', 'Age dif', 'K&M Age', 'K age', 'M age', 'Notes'])
drop_df.head()

,genus,species,id,code,site,river,basin,lat,long,date,Length (mm),status,Z age,L age,B age
0,Amblema,plicata,1,D,"Gonzales, TX",Guadalupe,Guadalupe,29.493646°,-97.431293°,9/24/19,74.0,Alive,,,
1,Amblema,plicata,2,D,"Gonzales, TX",Guadalupe,Guadalupe,29.493646°,-97.431293°,9/24/19,72.0,Alive,,,
2,Amblema,plicata,3,D,"Gonzales, TX",Guadalupe,Guadalupe,29.493646°,-97.431293°,9/24/19,76.0,Alive,,,
3,Amblema,plicata,4,D,"Gonzales, TX",Guadalupe,Guadalupe,29.493646°,-97.431293°,9/24/19,76.0,Alive,,,
4,Amblema,plicata,5,D,"Gonzales, TX",Guadalupe,Guadalupe,29.493646°,-97.431293°,9/24/19,77.0,Alive,,,

### Select teres data (b/c X, L and B have aged)

In [92]:
teres_df = drop_df.loc[drop_df["species"] == "teres"]
teres_df

,genus,species,id,code,site,river,basin,lat,long,date,Length (mm),status,Z age,L age,B age
295,Lampsilis,teres,297,E,"Altair, TX",Colorado,Colorado,29.595299°,-96.453229°,10/3/19,128.0,Alive,6,6,
296,Lampsilis,teres,298,E,"Altair, TX",Colorado,Colorado,29.595299°,-96.453229°,10/3/19,95.0,Alive,,,
297,Lampsilis,teres,299,E,"Altair, TX",Colorado,Colorado,29.595299°,-96.453229°,10/3/19,81.0,Alive,,,
298,Lampsilis,teres,300,E,"Altair, TX",Colorado,Colorado,29.595299°,-96.453229°,10/3/19,125.0,Alive,5,5,
299,Lampsilis,teres,301,E,"Altair, TX",Colorado,Colorado,29.595299°,-96.453229°,10/3/19,115.0,Alive,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,Lampsilis,teres,471,E,"Bellville, TX",Brazos,Brazos,29.939875°,-96.129332°,8/28/20,32.5,Alive,0.5,0.5,1
470,Lampsilis,teres,472,E,"Bellville, TX",Brazos,Brazos,29.939875°,-96.129332°,8/28/20,35.5,Alive,0.5,0.5,1
471,Lampsilis,teres,473,E,"Bellville, TX",Brazos,Brazos,29.939875°,-96.129332°,8/28/20,33.0,Alive,0.5,0.5,1
472,Lampsilis,teres,474,E,"Bellville, TX",Brazos,Brazos,29.939875°,-96.129332°,8/28/20,19.0,Alive,0.5,0.5,1
473,Lampsilis,teres,475,E,"Bay City, TX",Colorado,Colorado,29.126034°,-96.044864°,5/5/20,79.0,Alive,2,6,2

### Drop NaNs

In [93]:
nan_value=float("NaN")
teres_df.replace("", nan_value, inplace=True)
clean_teres=teres_df.dropna()
clean_teres

,genus,species,id,code,site,river,basin,lat,long,date,Length (mm),status,Z age,L age,B age
334,Lampsilis,teres,336,E,"Bay City, TX",Colorado,Colorado,29.126034°,-96.044864°,5/5/20,139.0,Alive,5.0,5.0,5
335,Lampsilis,teres,337,E,"Bay City, TX",Colorado,Colorado,29.126034°,-96.044864°,5/5/20,121.0,Alive,6.0,11.0,6
337,Lampsilis,teres,339,E,"Bay City, TX",Colorado,Colorado,29.126034°,-96.044864°,5/5/20,107.0,Alive,4.0,5.0,4
339,Lampsilis,teres,341,E,"Bay City, TX",Colorado,Colorado,29.126034°,-96.044864°,5/5/20,114.0,Alive,4.0,4.0,5
340,Lampsilis,teres,342,E,"Bay City, TX",Colorado,Colorado,29.126034°,-96.044864°,5/5/20,74.0,Alive,1.0,2.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,Lampsilis,teres,471,E,"Bellville, TX",Brazos,Brazos,29.939875°,-96.129332°,8/28/20,32.5,Alive,0.5,0.5,1
470,Lampsilis,teres,472,E,"Bellville, TX",Brazos,Brazos,29.939875°,-96.129332°,8/28/20,35.5,Alive,0.5,0.5,1
471,Lampsilis,teres,473,E,"Bellville, TX",Brazos,Brazos,29.939875°,-96.129332°,8/28/20,33.0,Alive,0.5,0.5,1
472,Lampsilis,teres,474,E,"Bellville, TX",Brazos,Brazos,29.939875°,-96.129332°,8/28/20,19.0,Alive,0.5,0.5,1
473,Lampsilis,teres,475,E,"Bay City, TX",Colorado,Colorado,29.126034°,-96.044864°,5/5/20,79.0,Alive,2.0,6.0,2

In [94]:
clean_teres['site'].value_counts()

Bay City, TX     57
Simonton, TX     49
Bellville, TX    19
Name: site, dtype: int64

In [95]:
clean_teres['species'].value_counts()

teres    125
Name: species, dtype: int64

### Download dependencies for figures

In [96]:
import plotly.graph_objects as go
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.figure_factory as ff

In [97]:
# fig = go.Figure()
# fig.add_trace(go.Histogram(x=clean_teres["Z age"], name='Z'))
# fig.add_trace(go.Histogram(x=clean_teres["L age"], name='L'))
# fig.add_trace(go.Histogram(x=clean_teres["B age"], name='B'))


# # Overlay both histograms
# fig.update_layout(
    
#     title=dict(
#         text='L. teres age counts (Z, L & B)',
#         x=0.5,
#         y=0.95,
#         xanchor='center',
#         yanchor= 'top',
#         font=dict(
#             size=16,
#             color='#000000'
#                 )),
#     barmode='group',
#     bargap=0,
#     template='simple_white',
# #     paper_bgcolor='#FFFFFF',
# #     plot_bgcolor='#FFFFFF',
#     width=900, 
#     height=500,
#     bargroupgap=0
#     )
# # Reduce opacity to see both histograms
# fig.update_traces(opacity=0.75)
# fig.update_xaxes(
#         showgrid=False, 
#         zeroline=False,
#         title_text = "age"
#         )
# fig.update_yaxes(
#         showgrid=False, 
#         zeroline=False,
#         title_text = "count",
#         )

# fig.show()

In [98]:
# !pip install jupyterlab_dash
# !jupyter labextension install jupyterlab-dash@0.1.0-alpha.3
# !jupyter labextension install jupyterlab-dash

Requirement already satisfied: jupyterlab_dash in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (0.1.0a2)
Requirement already satisfied: dash in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from jupyterlab_dash) (1.16.3)
Requirement already satisfied: jupyter-server-proxy in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from jupyterlab_dash) (1.6.0)
Requirement already satisfied: dash-table==4.10.1 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from dash->jupyterlab_dash) (4.10.1)
Requirement already satisfied: dash-renderer==1.8.2 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from dash->jupyterlab_dash) (1.8.2)
Requirement already satisfied: plotly in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from dash->jupyterlab_dash) (4.11.0)
Requirement already satisfied: dash-core-components==1.12.1 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from dash->jupyterlab_dash) (1.12.1)
Requirement already satisfied: future in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from dash->jupyterlab_dash) (0.18.2)
Requirement already satisfied: dash-html-components==1.1.1 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from dash->jupyterlab_dash) (1.1.1)
Requirement already satisfied: flask-compress in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from dash->jupyterlab_dash) (1.7.0)
Requirement already satisfied: Flask>=1.0.2 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from dash->jupyterlab_dash) (1.1.2)
Requirement already satisfied: aiohttp in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from jupyter-server-proxy->jupyterlab_dash) (3.7.3)
Requirement already satisfied: simpervisor>=0.4 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from jupyter-server-proxy->jupyterlab_dash) (0.4)
Requirement already satisfied: notebook in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from jupyter-server-proxy->jupyterlab_dash) (6.1.5)
Requirement already satisfied: retrying>=1.3.3 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from plotly->dash->jupyterlab_dash) (1.3.3)
Requirement already satisfied: six in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from plotly->dash->jupyterlab_dash) (1.15.0)
Requirement already satisfied: brotli in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from flask-compress->dash->jupyterlab_dash) (1.0.9)
Requirement already satisfied: itsdangerous>=0.24 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from Flask>=1.0.2->dash->jupyterlab_dash) (1.1.0)
Requirement already satisfied: click>=5.1 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from Flask>=1.0.2->dash->jupyterlab_dash) (7.1.2)
Requirement already satisfied: Werkzeug>=0.15 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from Flask>=1.0.2->dash->jupyterlab_dash) (1.0.1)
Requirement already satisfied: Jinja2>=2.10.1 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from Flask>=1.0.2->dash->jupyterlab_dash) (2.11.2)
Requirement already satisfied: attrs>=17.3.0 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from aiohttp->jupyter-server-proxy->jupyterlab_dash) (20.3.0)
Requirement already satisfied: chardet<4.0,>=2.0 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from aiohttp->jupyter-server-proxy->jupyterlab_dash) (3.0.4)
Requirement already satisfied: typing-extensions>=3.6.5 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from aiohttp->jupyter-server-proxy->jupyterlab_dash) (3.7.4.3)
Requirement already satisfied: yarl<2.0,>=1.0 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from aiohttp->jupyter-server-proxy->jupyterlab_dash) (1.6.3)
Requirement already satisfied: async-timeout<4.0,>=3.0 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from aiohttp->jupyter-server-proxy->jupyterlab_dash) (3.0.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from aiohttp->jupyter-server-proxy->jupyterlab_dash) (5.1.0)
Requirement already satisfied: prometheus-client in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from notebook->jupyter-server-proxy->jupyterlab_dash) (0.9.0)
Requirement already satisfied: traitlets>=4.2.1 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from notebook->jupyter-server-proxy->jupyterlab_dash) (5.0.5)
Requirement already satisfied: pyzmq>=17 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from notebook->jupyter-server-proxy->jupyterlab_dash) (20.0.0)
Requirement already satisfied: terminado>=0.8.3 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from notebook->jupyter-server-proxy->jupyterlab_dash) (0.9.1)
Requirement already satisfied: ipykernel in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from notebook->jupyter-server-proxy->jupyterlab_dash) (5.3.4)
Requirement already satisfied: nbformat in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from notebook->jupyter-server-proxy->jupyterlab_dash) (5.0.8)
Requirement already satisfied: jupyter-client>=5.3.4 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from notebook->jupyter-server-proxy->jupyterlab_dash) (6.1.7)
Requirement already satisfied: tornado>=5.0 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from notebook->jupyter-server-proxy->jupyterlab_dash) (6.1)
Requirement already satisfied: argon2-cffi in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from notebook->jupyter-server-proxy->jupyterlab_dash) (20.1.0)
Requirement already satisfied: jupyter-core>=4.6.1 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from notebook->jupyter-server-proxy->jupyterlab_dash) (4.7.0)
Requirement already satisfied: nbconvert in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from notebook->jupyter-server-proxy->jupyterlab_dash) (6.0.7)
Requirement already satisfied: ipython-genutils in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from notebook->jupyter-server-proxy->jupyterlab_dash) (0.2.0)
Requirement already satisfied: Send2Trash in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from notebook->jupyter-server-proxy->jupyterlab_dash) (1.5.0)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from Jinja2>=2.10.1->Flask>=1.0.2->dash->jupyterlab_dash) (1.1.1)
Requirement already satisfied: idna>=2.0 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from yarl<2.0,>=1.0->aiohttp->jupyter-server-proxy->jupyterlab_dash) (2.10)
Requirement already satisfied: ptyprocess; os_name != "nt" in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from terminado>=0.8.3->notebook->jupyter-server-proxy->jupyterlab_dash) (0.6.0)
Requirement already satisfied: ipython>=5.0.0 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from ipykernel->notebook->jupyter-server-proxy->jupyterlab_dash) (7.19.0)

Requirement already satisfied: appnope; platform_system == "Darwin" in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from ipykernel->notebook->jupyter-server-proxy->jupyterlab_dash) (0.1.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from nbformat->notebook->jupyter-server-proxy->jupyterlab_dash) (3.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from jupyter-client>=5.3.4->notebook->jupyter-server-proxy->jupyterlab_dash) (2.8.1)
Requirement already satisfied: cffi>=1.0.0 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from argon2-cffi->notebook->jupyter-server-proxy->jupyterlab_dash) (1.14.4)
Requirement already satisfied: pygments>=2.4.1 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from nbconvert->notebook->jupyter-server-proxy->jupyterlab_dash) (2.7.2)
Requirement already satisfied: mistune<2,>=0.8.1 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from nbconvert->notebook->jupyter-server-proxy->jupyterlab_dash) (0.8.4)
Requirement already satisfied: defusedxml in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from nbconvert->notebook->jupyter-server-proxy->jupyterlab_dash) (0.6.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from nbconvert->notebook->jupyter-server-proxy->jupyterlab_dash) (1.4.3)
Requirement already satisfied: jupyterlab-pygments in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from nbconvert->notebook->jupyter-server-proxy->jupyterlab_dash) (0.1.2)
Requirement already satisfied: testpath in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from nbconvert->notebook->jupyter-server-proxy->jupyterlab_dash) (0.4.4)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from nbconvert->notebook->jupyter-server-proxy->jupyterlab_dash) (0.3)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from nbconvert->notebook->jupyter-server-proxy->jupyterlab_dash) (0.5.1)
Requirement already satisfied: bleach in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from nbconvert->notebook->jupyter-server-proxy->jupyterlab_dash) (3.2.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from ipython>=5.0.0->ipykernel->notebook->jupyter-server-proxy->jupyterlab_dash) (3.0.8)
Requirement already satisfied: pickleshare in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from ipython>=5.0.0->ipykernel->notebook->jupyter-server-proxy->jupyterlab_dash) (0.7.5)
Requirement already satisfied: pexpect>4.3; sys_platform != "win32" in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from ipython>=5.0.0->ipykernel->notebook->jupyter-server-proxy->jupyterlab_dash) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from ipython>=5.0.0->ipykernel->notebook->jupyter-server-proxy->jupyterlab_dash) (50.3.0.post20201006)
Requirement already satisfied: jedi>=0.10 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from ipython>=5.0.0->ipykernel->notebook->jupyter-server-proxy->jupyterlab_dash) (0.17.2)
Requirement already satisfied: backcall in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from ipython>=5.0.0->ipykernel->notebook->jupyter-server-proxy->jupyterlab_dash) (0.2.0)
Requirement already satisfied: decorator in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from ipython>=5.0.0->ipykernel->notebook->jupyter-server-proxy->jupyterlab_dash) (4.4.2)
Requirement already satisfied: pyrsistent>=0.14.0 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook->jupyter-server-proxy->jupyterlab_dash) (0.17.3)
Requirement already satisfied: pycparser in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from cffi>=1.0.0->argon2-cffi->notebook->jupyter-server-proxy->jupyterlab_dash) (2.20)
Requirement already satisfied: nest-asyncio in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook->jupyter-server-proxy->jupyterlab_dash) (1.4.3)
Requirement already satisfied: async-generator in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook->jupyter-server-proxy->jupyterlab_dash) (1.10)
Requirement already satisfied: packaging in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from bleach->nbconvert->notebook->jupyter-server-proxy->jupyterlab_dash) (20.7)
Requirement already satisfied: webencodings in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from bleach->nbconvert->notebook->jupyter-server-proxy->jupyterlab_dash) (0.5.1)
Requirement already satisfied: wcwidth in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.0.0->ipykernel->notebook->jupyter-server-proxy->jupyterlab_dash) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from jedi>=0.10->ipython>=5.0.0->ipykernel->notebook->jupyter-server-proxy->jupyterlab_dash) (0.7.1)
Requirement already satisfied: pyparsing>=2.0.2 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from packaging->bleach->nbconvert->notebook->jupyter-server-proxy->jupyterlab_dash) (2.4.7)
Building jupyterlab assets
Building jupyterlab assets

In [99]:
import plotly.express as px
from jupyter_dash import JupyterDash
import dash_core_components as dcc
import dash_html_components as html
import dash_bootstrap_components as dbc
from dash.dependencies import Input, Output

In [100]:
# def teres_fig():
#     fig = go.Figure()
#     fig.add_trace(go.Histogram(x=clean_teres["Z age"], name='Z'))
#     fig.add_trace(go.Histogram(x=clean_teres["L age"], name='L'))
#     fig.add_trace(go.Histogram(x=clean_teres["B age"], name='B'))


    
#     # Overlay both histograms
#     fig.update_layout(
    
#         title=dict(
#             text='L. teres age counts (Z, L & B)',
#             x=0.5,
#             y=0.95,
#             xanchor='center',
#             yanchor= 'top',
#             font=dict(
#                 size=16,
#                 color='#000000'
#                 )),
#         barmode='group',
#         bargap=0,
#         template='simple_white',
#         # paper_bgcolor='#FFFFFF',
#         # plot_bgcolor='#FFFFFF',
#         width=900, 
#         height=500,
#         bargroupgap=0
#         )
#     # Reduce opacity to see both histograms
#     fig.update_traces(opacity=0.75)
#     fig.update_xaxes(
#         showgrid=False, 
#         zeroline=False,
#         title_text = "age"
#         )
#     fig.update_yaxes(
#         showgrid=False, 
#         zeroline=False,
#         title_text = "count",
#         )

#     return fig

# #Build App
# app = JupyterDash(__name__, external_stylesheets=[dbc.themes.FLATLY])
# app.layout = dbc.Jumbotron([
#     dbc.Container([
#     html.Br(),
#     html.H1("Mussel aging project"),
#     html.Br(),
#     dbc.Row([dcc.Graph(id='teres',
#               figure=teres_fig())
             
        
#             ], style={"justify":"center"}),
#     ],fluid=True, style={'textAlign': 'left'}),
    
    
# ])
# # Run app and display result inline in the notebook
# app.run_server(mode='inline', debug=True)
# app._terminate_server_for_port("localhost", 8050)

In [2]:
!pip install geopandas==0.3.0
!pip install pyshp==1.2.10
!pip install plotly-geo

Requirement already satisfied: geopandas==0.3.0 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (0.3.0)
Requirement already satisfied: fiona in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from geopandas==0.3.0) (1.8.18)
Requirement already satisfied: pyproj in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from geopandas==0.3.0) (3.0.0.post1)
Requirement already satisfied: pandas in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from geopandas==0.3.0) (1.1.3)
Requirement already satisfied: shapely in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from geopandas==0.3.0) (1.7.1)
Requirement already satisfied: descartes in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from geopandas==0.3.0) (1.1.0)
Requirement already satisfied: attrs>=17 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from fiona->geopandas==0.3.0) (20.3.0)
Requirement already satisfied: six>=1.7 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from fiona->geopandas==0.3.0) (1.15.0)
Requirement already satisfied: certifi in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from fiona->geopandas==0.3.0) (2020.11.8)
Requirement already satisfied: click<8,>=4.0 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from fiona->geopandas==0.3.0) (7.1.2)
Requirement already satisfied: click-plugins>=1.0 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from fiona->geopandas==0.3.0) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from fiona->geopandas==0.3.0) (0.7.1)
Requirement already satisfied: munch in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from fiona->geopandas==0.3.0) (2.5.0)
Requirement already satisfied: pytz>=2017.2 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from pandas->geopandas==0.3.0) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from pandas->geopandas==0.3.0) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from pandas->geopandas==0.3.0) (2.8.1)
Requirement already satisfied: matplotlib in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from descartes->geopandas==0.3.0) (3.3.4)
Requirement already satisfied: cycler>=0.10 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from matplotlib->descartes->geopandas==0.3.0) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from matplotlib->descartes->geopandas==0.3.0) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from matplotlib->descartes->geopandas==0.3.0) (8.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from matplotlib->descartes->geopandas==0.3.0) (2.4.7)
Requirement already satisfied: pyshp==1.2.10 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (1.2.10)
Requirement already satisfied: plotly-geo in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (1.0.0)

In [4]:
!pip install geopandas==0.3.0
!pip install pyshp==1.2.10
!pip install shapely==1.6.3

Requirement already satisfied: geopandas==0.3.0 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (0.3.0)
Requirement already satisfied: fiona in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from geopandas==0.3.0) (1.8.18)
Requirement already satisfied: pandas in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from geopandas==0.3.0) (1.1.3)
Requirement already satisfied: descartes in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from geopandas==0.3.0) (1.1.0)
Requirement already satisfied: pyproj in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from geopandas==0.3.0) (3.0.0.post1)
Requirement already satisfied: shapely in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from geopandas==0.3.0) (1.7.1)
Requirement already satisfied: six>=1.7 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from fiona->geopandas==0.3.0) (1.15.0)
Requirement already satisfied: certifi in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from fiona->geopandas==0.3.0) (2020.11.8)
Requirement already satisfied: munch in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from fiona->geopandas==0.3.0) (2.5.0)
Requirement already satisfied: click<8,>=4.0 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from fiona->geopandas==0.3.0) (7.1.2)
Requirement already satisfied: attrs>=17 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from fiona->geopandas==0.3.0) (20.3.0)
Requirement already satisfied: click-plugins>=1.0 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from fiona->geopandas==0.3.0) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from fiona->geopandas==0.3.0) (0.7.1)
Requirement already satisfied: pytz>=2017.2 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from pandas->geopandas==0.3.0) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from pandas->geopandas==0.3.0) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from pandas->geopandas==0.3.0) (2.8.1)
Requirement already satisfied: matplotlib in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from descartes->geopandas==0.3.0) (3.3.4)
Requirement already satisfied: cycler>=0.10 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from matplotlib->descartes->geopandas==0.3.0) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from matplotlib->descartes->geopandas==0.3.0) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from matplotlib->descartes->geopandas==0.3.0) (8.1.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (from matplotlib->descartes->geopandas==0.3.0) (1.3.1)
Requirement already satisfied: pyshp==1.2.10 in /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/lib/python3.8/site-packages (1.2.10)
Collecting shapely==1.6.3
  Using cached Shapely-1.6.3.tar.gz (223 kB)
    ERROR: Command errored out with exit status 1:
     command: /Users/biancahernandez/opt/anaconda2/envs/mussel_aging/bin/python -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/n2/8lckw5js4hqd5dtq76vvvt9c0000gn/T/pip-install-pt9ntfmo/shapely/setup.py'"'"'; __file__='"'"'/private/var/folders/n2/8lckw5js4hqd5dtq76vvvt9c0000gn/T/pip-install-pt9ntfmo/shapely/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base /private/var/folders/n2/8lckw5js4hqd5dtq76vvvt9c0000gn/T/pip-pip-egg-info-gww32wtk
         cwd: /private/var/folders/n2/8lckw5js4hqd5dtq76vvvt9c0000gn/T/pip-install-pt9ntfmo/shapely/
    Complete output (11 lines):
    Failed `CDLL(/Library/Frameworks/GEOS.framework/Versions/Current/GEOS)`
    Failed `CDLL(/opt/local/lib/libgeos_c.dylib)`
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/private/var/folders/n2/8lckw5js4hqd5dtq76vvvt9c0000gn/T/pip-install-pt9ntfmo/shapely/setup.py", line 80, in <module>
        from shapely._buildcfg import geos_version_string, geos_version, \
      File "/private/var/folders/n2/8lckw5js4hqd5dtq76vvvt9c0000gn/T/pip-install-pt9ntfmo/shapely/shapely/_buildcfg.py", line 185, in <module>
        lgeos = load_dll('geos_c', fallbacks=alt_paths)
      File "/private/var/folders/n2/8lckw5js4hqd5dtq76vvvt9c0000gn/T/pip-install-pt9ntfmo/shapely/shapely/_buildcfg.py", line 159, in load_dll
        raise OSError(
    OSError: Could not find library geos_c or load any of its variants ['/Library/Frameworks/GEOS.framework/Versions/Current/GEOS', '/opt/local/lib/libgeos_c.dylib']
    ----------------------------------------
ERROR: Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.

In [5]:
import plotly.figure_factory as ff

import pandas as pd

scope = ['Oregon']
df_sample = pd.read_csv(
    'https://raw.githubusercontent.com/plotly/datasets/master/minoritymajority.csv'
)
df_sample_r = df_sample[df_sample['STNAME'].isin(scope)]

values = df_sample_r['TOT_POP'].tolist()
fips = df_sample_r['FIPS'].tolist()

colorscale = ["#8dd3c7", "#ffffb3", "#bebada", "#fb8072",
              "#80b1d3", "#fdb462", "#b3de69", "#fccde5",
              "#d9d9d9", "#bc80bd", "#ccebc5", "#ffed6f",
              "#8dd3c7", "#ffffb3", "#bebada", "#fb8072",
              "#80b1d3", "#fdb462", "#b3de69", "#fccde5",
              "#d9d9d9", "#bc80bd", "#ccebc5", "#ffed6f",
              "#8dd3c7", "#ffffb3", "#bebada", "#fb8072",
              "#80b1d3", "#fdb462", "#b3de69", "#fccde5",
              "#d9d9d9", "#bc80bd", "#ccebc5", "#ffed6f"]

fig = ff.create_choropleth(
    fips=fips, values=values, scope=scope,
    colorscale=colorscale, round_legend_values=True,
    simplify_county=0, simplify_state=0,
    county_outline={'color': 'rgb(15, 15, 55)', 'width': 0.5},
    state_outline={'width': 1},
    legend_title='pop. per county',
    title='Oregon'
)

fig.layout.template = None
fig.show()

ImportError: geopandas, pyshp and shapely must be installed for this figure factory.

Run the following commands to install the correct versions of the following modules:

```
$ pip install geopandas==0.3.0
$ pip install pyshp==1.2.10
$ pip install shapely==1.6.3
```
If you are using Windows, follow this post to properly install geopandas and dependencies:http://geoffboeing.com/2014/09/using-geopandas-windows/

If you are using Anaconda, do not use PIP to install the packages above. Instead use conda to install them:

```
$ conda install plotly
$ conda install geopandas
```

In [ ]:
df_sample = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/minoritymajority.csv')
df_sample_r = df_sample[df_sample['STNAME'] == 'California']

values = df_sample_r['TOT_POP'].tolist()
fips = df_sample_r['FIPS'].tolist()

colorscale = [
    'rgb(193, 193, 193)',
    'rgb(239,239,239)',
    'rgb(195, 196, 222)',
    'rgb(144,148,194)',
    'rgb(101,104,168)',
    'rgb(65, 53, 132)'
]

fig = ff.create_choropleth(
    fips=fips, values=values, scope=['CA', 'AZ', 'Nevada', 'Oregon', ' Idaho'],
    binning_endpoints=[14348, 63983, 134827, 426762, 2081313], colorscale=colorscale,
    county_outline={'color': 'rgb(255,255,255)', 'width': 0.5}, round_legend_values=True,
    legend_title='Population by County', title='California and Nearby States'
)
fig.layout.template = None
fig.show()